.intro {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 0 60px;
    text-align: center;
    color: $text-main;
    overflow: hidden;
    background: url('../img/symbol.png') no-repeat center center;
    background-size: auto 100%;

    @media (min-width: 768px) {
        padding-top: 190px;
    }

    @media (min-width: 1024px) {
        padding-top: 210px;
    }

   /* &::before {
        content: '';
        position: absolute;
        inset: -120px 0 0; 
        background: url('../img/symbol.png') no-repeat center center;
        background-size: auto 115%;
        z-index: -1;
        pointer-events: none;
        top: 50%;
        left: 50%;
        transform: translate(-50, 50);*/

        @media (min-width: 768px) {
            background-size: auto 125%;
        }

        @media (min-width: 1024px) {
            background-size: auto 80%;
        }
    

    &__title {
        max-width: 820px;
        margin: 0 0 160px;
        font-size: 38px;
        font-weight: 700;
        line-height: 1.15;

        @media (min-width: 768px) {
            font-size: 46px;
            margin-bottom: 180px;
        }

        @media (min-width: 1024px) {
            font-size: 54px;
            margin-bottom: 210px;
        }
    }

    &__anchor {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        color: $text-main;
        transition: all .3s ease;

        &:hover {
            border-color: $accent;
            color: $accent;
            transform: translateY(4px);
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }
}

