/* MAIN COLORS */
$main-regular: #323264;
$main-alt: #46466e;
$main-soft: #686887;

/* ACCENT */
$accent: #f0145a;

/* ACTIVE */
$active-regular: #24a3ff;
$active-hover: #0085ff;
$active-active: #006ccf;

/* GREY */
$grey-bg: #f5f5fa;
$grey-bg-alt: #ededf7;
$grey-text: #b3b3ba;
$grey-separator: #e6e6f0;

/* GRADIENTS */
$gradient-main: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
$gradient-soft: linear-gradient(228.57deg, #323264 11.93%, #643e72 87.46%);
$gradient-red: linear-gradient(90deg, #f0145a, #ef8080);

/* TEXT */
$text-main: #ffffff;
$text-secondary: #b3b3ba;

/* FONT */
$font-main: 'Montserrat', sans-serif;

/* BASE */
$base-fz: 16px;
$base-lh: 1.5;


